@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900;1000&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #0F1722;
    height: 100vh;
    color: #000000;
    font-family: 'Cairo', sans-serif;
    font-weight: bold
}

#gif-mupi {
    display: flex;
    height: 100%;
}


.contenedorRanking {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 904px;
    top: 15px;
    background-color:#FEB63D ;
    padding: 12px;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content:center;
    color: white;


    & h1 {
        padding: 6px;
        margin: 0;
        font-weight: bolder;
    }
}

/* Estilos para la tabla */
.tablaClasificacion {
    border-collapse: collapse;
    background-color: transparent;
}

.Tabla {
    position: relative;
    overflow: hidden;

}

.bodytable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para las celdas de la primera columna */
.positionCol {
    width: auto;
    border-radius: 8px 0 0 8px;
    background-color: white;
    padding: 20px 24px;
}

/* Estilos para las celdas de la segunda columna */
.usernameCol {
    width: 80%;
    border-radius: 0;
    background-color: white;
    padding: 20px 40px;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 200px;
    overflow: hidden;
}

/* Estilos para las celdas de la tercera columna */
.scoreCol {
    width: 10%;
    border-radius: 0 8px 8px 0;
    background-color: white;
    padding: 20px 40px;
}