@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    background-color: #0F1722;
    padding: 0;
    margin: 0;
}

#btn-shoot {
    padding: 120px;
    background-color: rgb(230, 82, 13);
    color: white;
    font-size: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 200px 40px;
    font-family: 'Poppins', sans-serif;

    & .contentInfo {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 20px;

        & .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        & .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
    }

    & .contentForm {
        display: flex;
        flex-direction: column;
        padding: 32px 200px;
        gap: 20px;

        & .inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;

            & input {
                font-size: 14px;
                padding: 20px;
                width: 80%;
                border-radius: 8px;
                background-color: white;
                border-color: rgb(105, 105, 105);
                border: solid 0.5px;
            }
        }

        & .btnSend {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & button {
                background-color: #FEB63D;
                color: #0F1722;
                font-weight: bold;
                border-radius: 8px;
                padding: 16px 32px;
            }
        }
    }

    & .imgprize {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
            width: 200px;
        }
    }
}

@media screen and (max-width: 700px) {
    .form {
        width: 100%;
        padding: 32px 0;

        & .contentInfo {
            width: 100%;

            & .text {
                padding: 0 40px;
            }
        }

        & .contentForm {
            padding: 12px 0px;
        }
    }
}